<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display table</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
    <table>
      <tr>
        {% for key,value in results.items() %}
        <th>{{key}}</th>
        {% endfor %}
      </tr>  
      <tr>
      {% for value in results.values() %}
      <td>
        {{value}}
      </td>
      {% endfor %}
      </tr>
    </table>
</body>
</html>