<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject form</title>
</head>
<body>
    <h1>Please add marks to respective subjects</h1>
    <form action="/subjectform" method="post">
        <label for="physics">Physics</label><br>
        <input type="number" id="physics" name="physics" value="0"><br>
        <label for="chemistry">Chemistry</label><br>
        <input type="number" id="chemistry" name="chemistry" value="0"><br>
        <label for="maths">Maths</label><br>
        <input type="number" id="maths" name="maths" value="0"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>