<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Application</title>
</head>
<body>
    <h1>Welcome to TO-DO Notes web app</h1>
    <ul>
        {% for document in results[0].find() %}
        <li>{{document.Name}}</li>
        {% endfor %}
    </ul>

    <form action="/" method="post">
        <label for="task">Task name:- </label>
        <input type="text" id="task" name="task">
        <input type="submit" value="Add">
    </form>
    {% if results[1] != "" %}
    <h3>{{results[1]}}</h3>
    {% endif %}
</body>
</html>